.section-form {
    max-width: 100%;
    padding: 1em;
}

.contact-form {
    position: relative;
    padding: 1em 0;
    overflow: hidden;
}

.field-holder {
    position: relative;
	max-width: 600px;
    margin-bottom: 1.6em;
    padding: .4em .7em;
	border: 1px solid $grey_dark;
    border-radius: $border_radii;
    background: $white;
    & label {
        position: absolute;
        top: -1em;
        left: 10px;
        padding: .06em .4em .14em;
        border: 1px solid currentColor;
        border-radius: 4px;
        background: white;
    }
}

.field-holder input[type='text'],
.field-holder input[type='email'], 
.field-holder textarea {
    position: relative;
    height: 2.2em;
    width: 100%;
    margin-top: 9px;
    padding: .5em;
    font-family: inherit;
    font-size: 1em;
    border: none;
    // &:not(:focus) {
    //     border-bottom: 1px solid $grey_mid !important;
    // }
    // &:invalid {
    //     border-bottom: 2px solid $amber !important;
    // }
    &:valid {
        background: $green;
        color: $white;
    }
}

.contact-comment textarea {
    min-height: 6em;
    resize: vertical;
}

.contact-send {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    & input {
        width: 100%;
        height: 3em;
        font-size: 100%;
        font-weight: bold;
        color: $black;
        background: $redorange;
        border: none;
        border-radius: $border_radii;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;
        cursor: pointer;
        transition: all $link_ease;
        &:hover {
            transform: scale(1.02) translateX(11px);
            filter: drop-shadow(-1px 5px 4px gray);
            color: white;
        }
    }
    & [disabled] {
        opacity: .2;
        cursor: default;
        box-shadow: none;
        
    }
}

.error-message {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 300px;
    background: hsl(120, 58%, 84%);
    color: black;
}

.email-sent {
    width: 100%;
	font-size: 130%;
	line-height: 120%;
	font-weight: 700;
	text-align: center;
    color: $redorange;
}

.info-container-button {
    margin: 0 -5px;
    padding: 0 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.4s ease;
    -webkit-text-stroke: initial;
    &:hover {
        transform: scale(1.02);
        filter: drop-shadow(-1px 5px 4px #999);
    }
}

.info-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: .7em;
    background: $grey_light;
    transition: transform .6s $small_ease;
    transform: translateY(-102%);
    z-index: 20;
    border: 4px solid $redorange;
    border-radius: $border_radii;
    & li {
        margin-bottom: 1em;
    }
}

.info-container-open {
    transition: all .6s $big_ease;
    transform: translateY(0);
}

.count-container {
    text-align: right;
}

.char-remain-warning {
    color: red;
    font-weight: bold;
}