.mv-bar.mv-ui.mv-fixed {
	position: fixed;
	left: 0; right: 0;
	width: 20vw;
	padding: 0;
	z-index: 10000;
}

.mv-bar.mv-ui .mv-status {
	line-height: 1.3;
	color: black;
}

.mv-status span {
	display: none;
}

.mv-ui.mv-add.mv-add-article {
	width: 100px;
	height: 30px;
}

fieldset {
	font-family: sans-serif;
}